.container {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    aspect-ratio: 1/1;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    pointer-events: all;
}

.hexwrapper1,
.hexwrapper2,
.hexwrapper3 {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.hexwrapper3 {
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
}

.big_hexagon1 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.small_hexagon1 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 100%;
    width: 100%;
    transform: scale(0.985, 0.985);
    background-color: #4A90E2;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    z-index: 20;
}

.big_hexagon2 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 100%;
    width: 100%;
    transform: scale(0.75, 0.75);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.small_hexagon2 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 100%;
    width: 100%;
    transform: scale(0.985, 0.985);
    background-color: #50E3C2;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.big_hexagon3 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 100%;
    width: 100%;
    transform: scale(0.6, 0.6);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.small_hexagon3 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 100%;
    width: 100%;
    transform: scale(0.97, 0.97);
    background-color:#F5A623 ;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}
